{% extends '@twigs/layouts/base.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if wp.parameter('property', 'properties', 'display_sort_bar') %}
            <div class="navbar-right">
                {% include 'DeveloperBundle:Developer:sort.html.twig' %}
            </div>
        {% endif %}
        <h1>
            {% if title is not defined %}
                {{ 'Developers'|translate }}
            {% else %}
                {{ title }}
            {% endif %}
        </h1>
    </div>

    <div class="developers">
        {% if wp.have_posts() %}
            {% for post in developers %}
                {{ wp_query.the_post() }}
                {{ wp.get_template_part('content-developer', wp.get_post_format()) }}
            {% endfor %}
        {% else %}
            {{ 'No developers found.'|translate }}
        {% endif %}
    </div><!-- /.developers -->

    {{ im_paging_nav() }}
{% endblock %}
