<div class="developer agency">
    <div class="row">
        <div class="image col-xs-2">
            <a href="{{ wp.get_permalink(developer.ID) }}">
                {% if wp.get_the_post_thumbnail(developer.ID) %}
                    {{ wp.get_the_post_thumbnail(developer.ID)|raw }}
                {% else %}
                    <img src="{{ wp.content_url() }}/mozart/public/bundles/immobiliertheme/img/agency-tmp.png"
                         alt="{{ developer.post_title }}">
                {% endif %}
            </a>
        </div><!-- /.image -->

        <div class="body col-xs-4">
            <h3>
                <a href="{{ wp.get_permalink(developer.ID) }}">{{ developer.post_title }}</a>
            </h3>

            <p>{{ im_get_post_teaser(developer.ID) }}</p>
        </div><!-- /.body -->

        <div class="info col-xs-3">
            <div class="box">
                <div class="address">
                    {{ developer.meta._developer_address.0|nl2br  }}
                </div><!-- /.address -->

                <div class="email">
                    <a href="mailto:{{ developer.meta._developer_email.0  }}">
                        {{ developer.meta._developer_email.0  }}
                    </a>
                </div><!-- /.email -->

                <div class="phone">
                    {{ developer.meta._developer_phone.0  }}
                </div><!-- /.phone -->
            </div><!-- /.box -->
        </div><!-- /.info -->
    </div><!-- /.row -->
</div><!-- /.agency -->
