{% extends '@twigs/layouts/base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ post.post_title }}</h1>
    </div>

    <div class="developer">
        <div class="row">
            <div class="col-xs-4">
                <a href="{{ wp.get_permalink(wp.get_the_ID()) }}">
                    {% if wp.get_the_post_thumbnail(wp.get_the_ID()) %}
                        {{ wp.get_the_post_thumbnail(wp.get_the_ID(), 'post-thumbnail','class=img-thumbnail img-responsive')|raw }}
                    {% else %}
                        <img src="{{ wp.get_template_directory_uri() }}/assets/img/developer-tmp.png"
                             alt="{{ post.post_title }}" class="img-thumbnail img-responsive">
                    {% endif %}
                </a>
            </div><!-- /.image -->

            <div class="info col-xs-8">
                <div class="box">
                    <div class="address">
                        {{ wp.get_post_meta(wp.get_the_ID(), '_developer_address', true)|nl2br  }}
                    </div><!-- /.address -->

                    <div class="email">
                        <a href="mailto:{{ wp.get_post_meta(wp.get_the_ID(), '_developer_email', true)  }}">{{ wp.get_post_meta(wp.get_the_ID(), '_developer_email', true)  }}</a>
                    </div><!-- /.email -->

                    <div class="phone">
                        {{ wp.get_post_meta(wp.get_the_ID(), '_developer_phone', true)  }}
                    </div><!-- /.phone -->
                </div><!-- /.box -->
            </div><!-- /.info -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <h2>{{ 'About Developer'|translate }}</h2>

                {{ wp.do_shortcode(wp.apply_filters('the_content', post.post_content))|raw }}
            </div><!-- /.col-xs-9 -->
        </div><!-- /.row -->
    </div><!-- /.agent -->

    {% if properties %}
        <hr>

        <h2>{{ 'Assigned Properties'|translate }}</h2>

        <div class="properties-grid">
            <div class="row">
                {% for property in properties %}
                    <div class="col-xs-3">
                        {% include 'PropertyBundle:Property:property-box-small.html.twig' %}
                    </div>
                    {% if loop.index % 4  == 0 %}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties -->
    {% endif %}
{% endblock %}
