{% extends '@twigs/layouts/base.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if wp.parameter('property', 'properties', 'display_sort_bar') %}
            <div class="navbar-right">
                {% include 'AgentBundle:Agent:sort.html.twig' %}
            </div>
        {% endif %}
        <h1>
            {% if title is not defined %}
                {{ 'Agents'|translate }}
            {% else %}
                {{ title }}
            {% endif %}
        </h1>
    </div>

    {% if wp_query.posts|length > 0 %}
        {{ wp_query.the_post() }}
        <div class="our-agents-large">
            <div class="row">
                {% for agent in agents %}
                    {% include 'AgentBundle:Agent:list-item-3col.html.twig' %}
                    {% if loop.index % 4  == 0 %}
                    </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div><!-- /.our-agents-large -->
        {{ im_paging_nav() }}
    {% else %}
        <div class="row">
            {{ wp.get_template_part('content', 'none') }}
        </div>
    {% endif %}
{% endblock %}
