
<a href="add/" class="btn btn-danger pull-right" style="position:relative; top: -60px;">
    <i class="mozicon-plus mrm"></i>{{ 'Submit new property'|translate }}
</a>
<ul class="nav nav-tabs mbm clearfix">
    {% for key,name in property_statuses %}
        <li {%if key == current_status %}class="active"{% endif %}>
            <a href="{{ wp.get_permalink() }}?status={{key}}">
                <span class="badge pull-right mlm">{{ counters[key] }}</span>
                {{ name }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    <div class="tab-pane active">

        {% if properties|length > 0 %}
            <table class="table table-bordered table-condensed table-responsive table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Image'|translate }}</th>
                        <th>{{ 'Title'|translate }}</th>
                        <th>{{ 'Created'|translate }}</th>
                        <th>{{ 'Status'|translate }}</th>
                        <th>{{ 'Actions'|translate }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for property in properties %}
                        <tr>
                            <td class="text-center">
                                {% if wp.has_post_thumbnail(property.ID) %}
                                    <a href="{{ wp.get_permalink(property.ID) }}">
                                        {{ wp.get_the_post_thumbnail(property.ID, 'admin-thumb')|raw }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td class="title">
                                <a href="{{ wp.get_permalink(property.ID) }}">{{ property.post_title }}</a>
                            </td>

                            <td class="post-date">
                                {{ wp.mysql2date(wp.get_option('date_format'), property.post_date) }}
                            </td>

                            <td class="status">
                                <strong class="{{ wp.get_post_status(property.ID) }}">
                                    {{ wp.get_post_statuses[wp.get_post_status(property.ID)] }}
                                </strong>
                            </td>

                            <td class="actions">
                                <div class="btn-group">
                                    {% for type,link in action_links(property.ID) %}
                                        <a href="{{link.href|raw}}" title="{{link.title}}" class="btn btn-default">
                                            <i class="{{link.icon}}"></i>
                                        </a>
                                    {% endfor %}
                                </div>

                            </td>
                        </tr>
                        <tr class="sep">
                            <td colspan="5"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ im_paging_nav() }}
        {% else %}
            <p>
                {{ 'No submisssions found.'|translate }}
            </p>
        {% endif %}

    </div>
</div>
