{{ before_widget|raw }}

<a class="{{ class }} decoration" href="{{ link }}"></a>

{% if title is defined %}
    {{ before_title|raw }}{{ title }}{{ after_title|raw }}
{% endif %}

{% if text is defined %}
    <p>{{ text }}</p>
{% endif %}

{% if link is defined %}
    <a href="{{ link }}" class="btn btn-primary">{{ 'Read more'|translate }}</a>
{% endif %}

{{ after_widget|raw }}
