{% extends '@twigs/layouts/base.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if wp.parameter('property', 'properties', 'display_sort_bar') %}
            <div class="navbar-right">
                {% include 'PropertyBundle:Property:sort.html.twig' %}
            </div>
        {% endif %}
        <h1>
            {% if title is not defined %}
                {{ 'Properties'|translate }}
            {% else %}
                {{ title }}
            {% endif %}
        </h1>
    </div>

    {% if wp_query.posts|length > 0 %}
        {{ wp_query.the_post() }}

        <div class="properties-{% if wp.parameter('property', 'properties', 'type') == 'row' %}rows{% else %}grid{% endif %}">
            <div class="row">
                {% for property in properties %}
                    {% if wp.parameter('property', 'properties', 'type') == 'row' %}
                        {% include 'PropertyBundle:Property:property-row.html.twig' %}
                    {% else %}
                        <div class="col-xs-3">
                            {% include 'PropertyBundle:Property:property-box-small.html.twig' %}
                        </div><!-- /.col-xs-3 -->
                    {% endif %}
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.properties-grid -->

        {{ im_paging_nav('', 2, wp_query) }}
    {% else %}
        <div class="clearfix">
            <p>{{ 'No properties found.'|translate }}</p>
        </div>
    {% endif %}
{% endblock %}
