<h2>{{ 'Overview'|translate }}</h2>

<table>
    <tbody>
        <tr>
            <th>{{ 'ID'|translate }}:</th>
            <td>
                <strong>#{% if meta['_property_id'] is defined %}{{ meta['_property_id'][0] }}{% else %}{{ post.ID }}{% endif %}</strong
            </td>
        </tr>

        {% if meta['_property_price'] is defined %}
            <tr>
                <th>{{ 'Price'|translate }}:</th>
                <td>
                    {% if meta['_property_custom_text'] is defined %}
                        {{ meta['_property_custom_text'][0] }}
                    {% else %}
                        {{ meta['_property_price'][0] | price_format }}

                        {% if meta['_property_price_suffix'] is defined %}
                            <span class="suffix">{{ meta['_property_price_suffix'][0] }}</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if meta['property_types'] is defined %}
            <tr>
                <th>{{ 'Type' | translate }}:</th>
                <td>{{ meta['property_types'][0].name }}</td>
            </tr>
        {% endif %}

        {% if meta['property_contracts'] is defined %}
            <tr>
                <th>{{ 'Contract'|translate }}:</th>
                <td>{{ meta['property_contracts'].0.name }}</td>
            </tr>
        {% endif %}
        {% if meta['locations'] is defined %}
        <tr>
            <th>{{ 'Location'|translate }}:</th>
            <td>{{ meta['locations'].0.name }}</td>
        </tr>
        {% endif %}

        {% if meta['_property_hide_baths'] is defined and meta['_property_hide_baths'].0 != '1' %}
            {% if meta['_property_bathrooms'].0 %}
                <tr>
                    <th>{{ 'Bathrooms'|translate }}:</th>
                    <td>{{ meta['_property_bathrooms'].0 }}</td>
                </tr>
            {% endif %}
        {% endif %}

        {% if meta['_property_hide_beds'] is defined and meta['_property_hide_beds'].0 != '1' %}
            {% if meta['_property_bedrooms'].0 %}
                <tr>
                    <th>{{ 'Bedrooms'|translate }}:</th>
                    <td>{{ meta['_property_bedrooms'].0 }}</td>
                </tr>
            {% endif %}
        {% endif %}

        {% if meta['_property_area'] is defined %}
            <tr>
                <th>{{ 'Area'|translate }}:</th>
                <td>{{ meta['_property_area'].0 }}{{ wp.parameter('property', 'units', 'area')|raw }}</td>
            </tr>
        {% endif %}

        {% if (wp.parameter('property', 'common', 'enable_rating')) %}
            <tr>
                <th>
                    {{ 'Rating'|translate }}:
                </th>
                <td>
                    {{  kk_star_ratings(post.ID)|raw }}
                </td>
            </tr>
        {% endif %}

    </tbody>
</table>
