<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('select[name=filter_sort_by]').change(function() {
            $('form.form-sort').submit();
        });

        $('select[name=filter_order]').change(function() {
            $('form.form-sort').submit();
        });
    });
</script>

<div class="filter-wrapper">
    <div class="filter">
        <form action="{{ wp.get_bloginfo('wpurl') }}/properties/"
              method="get" class="form-sort form-inline">
            {% if q %}
                {% for key, value in q %}
                    {% if key != 'filter_order' and key != 'filter_sort_by' %}
                        {% if value is iterable %}
                            {% for val in value %}
                                <input type="hidden" name="{{ key }}[]" value="{{ val }}">
                            {% endfor %}
                        {% else %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <select id="inputOrder" name="filter_order" class="chosen">
                    <option value="DESC" {% if q.filter_order is defined and q.filter_order == 'DESC' %}selected="selected"{% endif %}>{{ 'Descending'|translate }}</option>
                    <option value="ASC" {% if q.filter_order is defined and q.filter_order == 'ASC' %}selected="selected"{% endif %}>{{ 'Ascending'|translate }}</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="filter_sort_by" id="inputSortBy">
                    <option value="price" {% if q.filter_sort_by is defined and q.filter_sort_by == 'price' %}selected="selected"{% endif %}>{{ 'Price'|translate }}</option>
                    <option value="published" {% if q.filter_sort_by is defined and q.filter_sort_by == 'published' %}selected="selected"{% endif %}>{{ 'Published'|translate }}</option>
                </select>
            </div>

            {% if wp.get_next_posts_link() or wp.get_previous_posts_link() %}
                <div class="pager form-group">
                    <ul class="pager">
                        <li>{{ wp.previous_posts_link('<i class="icon icon-normal-left-arrow-small"></i>', 0) }}
                        <li>{{ wp.next_posts_link('<i class="icon icon-normal-right-arrow-small"></i>', 0) }}</li>
                    </ul>
                </div><!-- /.pager -->
            {% endif %}
        </form>
    </div><!-- /.filter -->
</div>
