{{ before_widget|raw }}

{% if title %}
    {{ before_title|raw }}{{ title }}{{ after_title|raw }}
{% endif %}

<div class="content">
    {% if properties %}
        {% for property in properties %}
            <div class="property clearfix">
                <div class="image">
                    <a href="{{ wp.get_permalink(property.ID) }}">
                    {% if wp.get_the_post_thumbnail(property.ID) %}
                        {{ wp.get_the_post_thumbnail(property.ID)|raw }}
                    {% else %}
                        <a href="">
                            <img src="{{ wp.get_template_directory_uri() }}/assets/img/property-tmp-small.png"
                                 alt="{{ property.post_title }}">
                        </a>
                    {% endif %}
                    </a>
                </div><!-- /.image -->

                <div class="wrapper">
                    <div class="title">
                        <h3><a href="{{ wp.get_permalink(property.ID) }}">
                            {% if property.meta._property_title.0 %}
                                {{ property.meta._property_title.0 }}
                            {% else %}
                                {{ property.post_title }}
                            {% endif %}
                        </a></h3>
                    </div><!-- /.title -->

                    <div class="location">{{ property.location.0.name }}</div><!-- /.location -->

                    <div class="price">
                        {% if property.meta._property_custom_text.0 %}
                            {{ property.meta._property_custom_text.0 }}
                        {% else %}
                            {{ property.meta._property_price.0|price_format }}{% if property.meta._property_price_suffix.0 %} <span class="suffix">{{ property.meta._property_price_suffix.0 }}</span>{% endif %}
                        {% endif %}
                    </div><!-- /.price -->
                </div><!-- /.wrapper -->
            </div><!-- /.property -->

            <div class="property-info clearfix">
                {% if property.meta._property_area.0 %}
                    <div class="area">
                        <i class="icon icon-normal-cursor-scale-up"></i>
                        {{ property.meta._property_area.0 }}{{ wp.parameter('property', 'units', 'area')|raw }}
                    </div><!-- /.area -->
                {% endif %}

                {% if property.meta._property_bedrooms.0 %}
                    {% if property.meta._property_hide_beds.0 != 1 %}
                        <div class="bedrooms">
                            <i class="icon icon-normal-bed"></i>
                            {{ property.meta._property_bedrooms.0 }}
                        </div><!-- /.bedrooms -->
                    {% endif %}
                {% endif %}

                {% if property.meta._property_bathrooms.0 %}
                    {% if property.meta._property_hide_baths.0 != 1 %}
                        <div class="bathrooms">
                            <i class="icon icon-normal-shower"></i>
                            {{ property.meta._property_bathrooms.0 }}
                        </div><!-- /.bathrooms -->
                    {% endif %}
                {% endif %}
            </div><!-- /.info -->
        {% endfor %}
    {% else %}
        <p>
            {{ 'No featured properties found.'|translate }}
        </p>
    {% endif %}
</div><!-- /.content -->

{{ after_widget|raw }}
